<!--
  ~ ******************************************************************************
  ~ Copyright (C) 2014-2023 Dennis Sheirer
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>
  ~ *****************************************************************************
  -->
<configuration>

  <!--  Disable logback startup and configuration status messages-->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />


  <conversionRule conversionWord="memory_usage" converterClass="io.github.dsheirer.util.MemoryUsageLogger" />

  <timestamp key="appstart" datePattern="HHmmss"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{25} - %msg  %memory_usage%n</pattern>
    </encoder>
  </appender>

  <appender name="IN-MEMORY" class="io.github.dsheirer.log.CachingLogAppender">
    <encoder>
      <pattern>%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level %logger{25} - %msg  %memory_usage%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="IN-MEMORY" />
  </root>

  <logger name="org.apache.mina" level="INFO" />
  <logger name="org.springframework" level="INFO" />

</configuration>