<configuration>
  <timestamp key="appstart" datePattern="HHmmss"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${user.home}/SDRTrunk/logs/sdrtrunk_app.log</file>
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	  <!-- daily log rollover -->
	  <fileNamePattern>${user.home}/SDRTrunk/logs/%d{yyyyMMdd}_sdrtrunk_app.log</fileNamePattern>	
      <maxHistory>10</maxHistory>
	</rollingPolicy>
    <encoder>
      <pattern>%-25(%d{yyyyMMdd HHmmss.SSS} [%thread]) %-5level %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-12(%d{HH:mm:ss.SSS}) %-5level %logger{25} - %msg%n</pattern>
    </encoder>
  </appender>
          
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Apache Mina TCP/HTTP library -->
  <logger name="org.apache.mina" level="INFO" />

</configuration>